In [2]:
import pandas as pd
import numpy as np

In [4]:
a1 = np.array([[1,2,3],[4,5,6]])
a1

array([[1, 2, 3],
       [4, 5, 6]])

In [6]:
a2 = np.array([[7,8,9],[10,11,12]])
a2

array([[ 7,  8,  9],
       [10, 11, 12]])

In [7]:
# Phep cong
a1 + a2

array([[ 8, 10, 12],
       [14, 16, 18]])

In [8]:
np.dot(a1,a2)

ValueError: shapes (2,3) and (2,3) not aligned: 3 (dim 1) != 2 (dim 0)

In [10]:
a3 = a2.reshape(3,2) # nen dung transpose

In [11]:
np.dot(a1,a3)

array([[ 58,  64],
       [139, 154]])

In [12]:
p1 = pd.DataFrame(a2)

In [13]:
p1.to_json("./a2.json")

In [35]:
p1 = pd.read_json("./a2.json")
p1.rename(columns={0: "a", 1: "c", 2:"b"}, inplace=True)
p1

    a   c   b
0   7   8   9
1  10  11  12

In [15]:
# dict key la so

In [19]:
class Animal:
    def __init__(self, name):
        self.name = name
        
class ConMeo:
    def __init__()

Animal("con meo").name

'con meo'

In [21]:
p1

    0   1   2
0   7   8   9
1  10  11  12

In [23]:
p1.iloc[:,1]

0     8
1    11
Name: 1, dtype: int64

In [38]:
p1.loc[:,"b"]

0     9
1    12
Name: b, dtype: int64